<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="info_canvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="info_canvas">Corona Tracker info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Welcome to the Corona Tracker, your source for global COVID-19 statistics.
            Under the "Worldmap" tab, you have the ability to select specific countries that interest you.
            By clicking on the table, you can easily filter and search for specific countries.
            The 'Random County' tab offers the option to explore random county data.
            Under the "Select country" tab, you can select from the list a county and directly access its dashboard.
            In addition, you can access the most recent PubMed articles on SARS-CoV-2.<br><br>

            Click on <a href="https://goo.gl/maps/Hv6zQswGhFxoVVBm6" target="_blank" style="text-decoration: none;">🇳🇱</a>
            for the location on Google maps
        </div>
    </div>
</div>