{% extends 'sharedTemplates/base.html' %}
{% block title %}{{ data_county.name }}{% endblock %}
{% load static %}
{% block body %}

    <div class="container">
        {% include 'tables/articles_table.html' %}
    </div>
    <div class="d-flex justify-content-center">
        <button id="fetch-more-btn" class="btn btn-primary">Fetch More Articles</button>
    </div>
    <script src="{% static 'scrips/javascript/fetch_articles.js' %}"></script>
    <script src="{% static 'scrips/javascript/show_abstract.js' %}"></script>

{% endblock %}