{% extends 'sharedTemplates/base.html' %}
{% block title %}{{ data_county.name }}{% endblock %}
{% load static %}
{% block body %}

    <div class="container overflow-hidden text-center">

        <div class="row">
            <div class="col-sm-12">
                {% if data_county %}
                    <br>
                    <div class="d-flex justify-content-between">
                        <h2>{{ data_county.name }} <a href="{{ data_county.maps }}" target="_blank" style="text-decoration: none;">{{ data_county.flag }}</a></h2>
                        {% include 'sharedTemplates/export.html' %}
                    </div>
                {% else %}
                    <p>No data available on request.</p>
                {% endif %}
            </div>
        </div>

        <div class="row gy-4">

            {% if plot_bar %}
                <div class="col-sm-6 rounded">
                    <div class="p-3 custom-column">
                        {{ plot_bar|safe }}
                    </div>
                </div>
            {% endif %}

            {% if plot_geo %}
                <div class="col-sm-6">
                    <div class="p-3 custom-column">
                        {{ plot_geo|safe }}
                    </div>
                </div>
            {% endif %}

            {% if plot_confirmed %}
                <div class="col-sm-4">
                    <div class="p-3 custom-column">
                        {{ plot_confirmed|safe }}
                    </div>
                </div>
            {% endif %}

            {% if plot_deaths %}
                <div class="col-sm-4">
                    <div class="p-3 custom-column">

                        {{ plot_deaths|safe }}
                    </div>
                </div>
            {% endif %}

            {% if plot_recovered %}
                <div class="col-sm-4">
                    <div class="p-3 custom-column">
                        <div>{{ plot_recovered|safe }}</div>
                    </div>
                </div>
            {% endif %}

            {% if plot_province_state %}
                <div class="col-sm-12">
                    <div class="p-3 custom-column">
                        {{ plot_province_state|safe }}
                    </div>
                </div>
            {% endif %}

            {% if heatmap_confirmed %}
                <div class="col-sm-12">
                    <div class="p-3 custom-column">
                        {{ heatmap_confirmed | safe }}
                    </div>
                </div>
            {% endif %}

            {% if heatmap_deaths %}

                <div class="col-sm-12">
                    <div class="p-3 custom-column">
                        {{ heatmap_deaths | safe }}
                    </div>
                </div>
            {% endif %}
            <br>
        </div>
    </div>

    <link href="{% static 'style/style.css' %}" rel="stylesheet">

{% endblock %}
